<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script>
		//obj = [{"name":"aaa", "age":20}]
		function renderTable( data)
		{
			a = 10
			s = 'abc'
			str = `a=${a} s=${s}`
			console.log( str ) //a=10 s=abc
			tbody = document.getElementById( "useTableBody")
			tbody.innerHTML  =''
			console.log( data )
			for( n of data)
			{
				console.log( n.name, n.age )
				tr = document.createElement( 'tr')
				tr.innerHTML = `
					<td>${n.name}</td>
					<td>${n.age}</td>
				`
				tbody.appendChild( tr )
			}
		}
		function callperson()
		{
			fetch( "/api/persons")
			.then( res=> res.json() )
			.then( data => renderTable( data ))
		}
	</script>
</head>
<body>
	<h1>person data</h1>
	<button onclick="callperson()">확인</button>
	<table>
		<thead>
			<tr><th>이름</th><th>나이</th></tr>
		</thead>
		<tbody id="useTableBody">
		</tbody>
	</table>
</body>
</html>