<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="/css/my.css">
<body>
	<form action="formaction">
		<label>이름 : </label> <input type="text" required="required"> <br>
		<label>나이: </label> <input type="number" min="0" max="100"> <br>
		<label>생일 : </label> <input type="date"> <br>
		<label>시간 : </label> <input type="time"> <br>
		<label>전화번호 : </label> <input type="tel" pattern="\d{3}-\d{3,4}-\d{4}" placeholder="000-0000-0000"> <br>
		<label>이메일 : </label> <input type="email"> <br>
		
		<fieldset>
			<legend>색상</legend>
			<label>빨강<input type="radio" value="빨강" name="color"></label><br>
			<label>파랑<input type="radio" value="파랑" name="color"></label><br>
			<label>노랑<input type="radio" value="노랑" name="color"></label>
		</fieldset>		
		
		<fieldset>
			<legend>취미</legend>
			<label>낚시<input type="checkbox" value="낚시" name="hobby"></label><br>
			<label>골프<input type="checkbox" value="골프" name="hobby"></label><br>
			<label>영화<input type="checkbox" value="영화" name="hobby"></label>
		</fieldset>
		
		<select name="company">
			<option value="회사1">회사1</option>
			<option value="회사2">회사2</option>
			<option value="회사3">회사3</option>
		</select>
		<br>
		
		<textarea rows="4" cols="100" ></textarea>
		<br>
		
		
		<button>확인</button>
	</form>
</body>
</html>